.feature-page{
    display: flex;
    align-items: center;
    background: url('../../assets/Background-nice-wallpaper-HD.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
}
.header-container{
    color: #fff;
    margin-left: 5rem;
}